services:
  pangea-litellm-plugin:
    container_name: pangea-litellm-container
    image: litellm_plugin
    volumes:
      - ./config/config.yaml:/app/config.yaml
      - ./config/pangea_config.json:/app/pangea_config.json
    ports:
      - "4000:4000"
      - "8011:8001"
      - "8012:8002"
    environment:
      PANGEA_KONG_CONFIG_FILE: /app/pangea_config.json
      PANGEA_AI_GUARD_TOKEN: ${PANGEA_AI_GUARD_TOKEN}
    command: ["--port", "4000", "--config", "/app/config.yaml", "--detailed_debug"]
