{
  "pangea_domain": "dev.aws.pangea.cloud",
  "insecure": false,
  "log_level": "debug",
  "headers": {
    "X-Custom-Header": {"abc123":  "pangea_prompt_guard_clone"}
  },
  "rules": [
    {
      "model": "openai/gpt-3.5-turbo",
      "allow_on_error": false,
      "ai_guard": {
        "request": {
          "parameters": {
            "recipe": "pangea_prompt_guard"
          }
        }
      }
    }
  ]
}
